<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="Welcome-Style.css" rel="stylesheet"/>
    <title>WELCOME</title>
</head>


<body>
    <center>
        <H1 id="top">LOGIN SUCCESSFUL</H1>
        <table>
            <tr class="font">
                <td>WELCOME</td>
                <td>&nbsp;</td>
                <td>{{username}}</td>
            </tr>
            <!-- <tr class="font">
                <td>EMAIL_ID</td>
                <td>&nbsp;</td>
                <td>{{email_id}}</td>
            </tr>
            <tr class="font">
                <td>PHONE NO</td>
                <td>&nbsp;</td>
                <td>{{phone_no}}</td> -->
            <!-- </tr> -->
        </table>

        <br>
        <br>
        <h1>Lets Connect</h1>

        <div>
            <label"><a href="https://in.linkedin.com/company/ibm"><i class="fa fa-linkedin-square"
                style="font-size:36px"></i></a></label>

                &ensp;
                <a href="https://www.instagram.com/ibm/?hl=en"><i class="fa fa-instagram"
                    style="font-size:36px"></i></a>
                    &ensp;
                    <a href="https://www.facebook.com/IBM/"><i class="fa fa-facebook" style="font-size:36px"></i></a>
                    &ensp;
                    <a href="https://twitter.com/ibm?lang=en"><i class="fa fa-twitter" style="font-size:36px"></i></a>
        </div>
        

        </table>
    </center>


</body>

</html>
